*{
    /*border: 1px solid #000;*/
    box-sizing:border-box;
}

html,body{
    background-color:#f7f7f7;
}
body{
    font: 14pt/1.48em "Source Sans Pro", sans-serif;
    color:#464646;
}
a{
    color:#000;
    text-decoration: none;
}
ul{
    margin: 0;
}
table{
    width: 100%;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    margin-top: 0;
}
h1, .h1{
    font-size: 2em; /* 28pt media el h1 /14pt que media la fuente base=28/14=2em*/
    line-height: 1.08em;/*30.24pt/28pt*/
    text-transform: uppercase;/*mayusculas*/
    font-weight: normal;/*sin negrita*/
}
/*Textos*/
.bold{font-weight: bold;}
.italic{font-style: italic;}
.uppercase{text-transform: uppercase;}
.normal{font-weight: normal;}
.small{font-size: 0.8em;}
.big{font-size: 1.5em;}
.center{text-align: center;}
.list{list-style: none; padding: 0;}
.list p{margin-top: 0;}
.list li{padding: 20px 0;}
.list li:first-child{padding-top: 0;}
.list-blue li{
    background: transparent url("../imagenes/blue.jpg") no repeat 0 10px;
    padding-left: 20px;
}

.price{font-size: 1.5em;font-weight: bold;}

/* Colores */
.txt-red{color:#F00;}
.txt-blue{color:#7cbcf3;}
.bg-white{
    background-color:#FFF;
}

/*Botones*/
.btn{
    color:#FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    border-radius: 3px;
    box-shadow: 0 1px 4px#cdcdcd;
    background-image: linear-gradient(to bottom,#999,#CCC);
    margin: auto 5px;
}
.btn-big{
    padding: 10px inherit;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}
.btn-red{
    background-image: linear-gradient(to bottom,#f74040 80%,#d33535);
}
.list-blue{ padding-left: 22px; }


/*layout*/
.hidden{
    display: none;
}
.wrapper{
    width: 90%;
    max-width: 990px;
    margin: 0 auto;/*margen superior e inferior 0 y izquierdo y derecho automaticos*/
    padding: 4.0404040404% 0;/*40px/990px=4.040404*/
}
.read-more{
    display: none;
}
.wrapper:before, .wrapper.after,
.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}
.wrapper:after,
.clearfix:after{
    clear: both;
}
.bg-gray:first-child .wrapper{
    padding-bottom: 0;
}

.description{
    padding-left: 20px;
}

.col-25{width: 25%}
.col-50{width: 50%}
.col-75{width: 75%}
.overflowx{overflow-x: scroll;}
.fleft{float: left;}/*flotar hacia la izquierda*/
.fright{float: right;}
/* Cabecera*/
/*Breadcrum en mayusculas*/
.fin li{
    display:inline-block;
    list-style: none;
}
.fin li:after{
    content: "-";
}
.fin li:last-child:after{
    content: "";
}
.breadcrumb li{
    display: inline-block;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}
.breadcrumb li:after{
    content: "/";
}
.breadcrumb li:last-child:after{
    content: "";
}
.breadcrumb a{
    margin-right: 5px;
}
.marco{
    background-color:#FFF;
    padding: 10px;
    box-shadow: 0 0 5px#cdcdcd;
}
img{
    max-width: 100%;
}
 .marco p{
    margin: 0;
 }

@media screen and (max-width: 768px){
    .wrapper{
        padding: 2% 0;
    }
    .col-25.marco{
        width: 40%;
    }
    .col-75.description{
        width: 60%;
    }
    .description p{
        height: 250px;
        overflow: hidden;
    }
    .read-more{
        display: block;
    }
    h1{
        font-size: 1.6em;
        text-transform: none;
    }
    .marco .price{
        float: none;
        display: block;
        text-align: center;
        margin: 5px 0;
    }
    .marco .btn-big{
        float: none;
        display: block;
        width: 100%;
        margin: 0;
    }
    .list li h4{
        float: none;
        width: 100%;
        margin-bottom: 0%;
    }
    .list li p{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .wrapper{
        max-width: 480px;
        width: 100%;
        padding: 3%;
    }
    .breadcrumb{
        float: left;
    }
    .navbar-toogle{
        display: block;
        float: right;
    }
    .col-25.marco,.col-75.description{
        width: 100%;
    }
    .marco img{

    }

}
/* TO DO*/
/*
Elementos en linea de breadcrumb
botones
tabla
balines
pie en linea
*/